.App{
  min-height: 100vh;
  background-color: #cd84f1;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  margin-right: 10px;
  font-family: 'Baloo 2', cursive;
}
.App .search-form .btn-search{
  margin-left: 10px;
  font-family: 'Baloo 2', cursive;
}
.row{
  padding: 20px;
  margin-left: 100px;
}